/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /** 
  * COLORS
  */

  /* light theme */
  --background-light: hsl(293, 100%, 98%);
  --on-background-light: hsl(264, 8%, 12%);
  --surface-light: hsl(293, 100%, 98%);
  --on-surface-light: hsl(264, 8%, 12%);
  --on-surface-variant-light: hsl(264, 7%, 29%);
  --surface-container-low-light: hsl(278, 44%, 96%);
  --surface-container-light: hsl(276, 38%, 95%);
  --surface-bright-light: hsl(293, 100%, 98%);
  --primary-light: hsl(256, 34%, 48%);
  --on-primary-light: hsl(0, 0%, 100%);
  --outline-light: hsl(270, 4%, 47%);
  --outline-variant-light: hsl(270, 11%, 79%);

  /* dark theme */
  --background-dark: hsl(260, 14%, 8%);
  --on-background-dark: hsl(280, 17%, 90%);
  --surface-dark: hsl(260, 14%, 8%);
  --on-surface-dark: hsl(280, 17%, 90%);
  --on-surface-variant-dark: hsl(270, 11%, 79%);
  --surface-container-low-dark: hsl(264, 8%, 12%);
  --surface-container-dark: hsl(257, 10%, 14%);
  --surface-bright-dark: hsl(270, 5%, 23%);
  --primary-dark: hsl(258, 100%, 87%);
  --on-primary-dark: hsl(259, 58%, 28%);
  --outline-dark: hsl(264, 5%, 58%);
  --outline-variant-dark: hsl(264, 7%, 29%);

  /** 
  * TYPOGRAPHY
  */

  /* font family */
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /* font size */
  --base-font-size: 62.5%;
  --display-large: 5.7rem;
  --display-medium: 4.5rem;
  --display-small: 3.6rem;
  --headline-large: 3.2rem;
  --headline-medium: 2.8rem;
  --headline-small: 2.4rem;
  --title-large: 2rem;
  --title-medium: 1.6rem;
  --title-small: 1.4rem;
  --label-large: 1.4rem;
  --label-medium: 1.2rem;
  --label-small: 1.1rem;
  --body-large: 1.6rem;
  --body-medium: 1.4rem;
  --body-small: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /* border radius */
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-full: 500px;
  --radius-circle: 50%;

  /** 
  * BOX SHADOW
  */
  --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;

  /** 
  * OTHER
  */
  --section-padding: 24px;
  --top-bar-height: 64px;
  --padding-left-content: 45px;
}

[data-theme="light"] {
  color-scheme: light;

  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container: var(--surface-container-light);
  --surface-bright: var(--surface-bright-light);
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
}

[data-theme="dark"] {
  color-scheme: dark;

  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container: var(--surface-container-dark);
  --surface-bright: var(--surface-bright-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    /** 
    * TRANSITION
    */

    /* duration */
    --motion-duration-short-1: 100ms;

    /* easing */
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

html {
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--body-large);
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.display-large {
  font-family: var(--font-primary);
  font-size: var(--display-large);
  font-weight: var(--weight-regular);
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-medium {
  font-family: var(--font-primary);
  font-size: var(--display-medium);
  font-weight: var(--weight-regular);
  line-height: 52px;
}

.display-small {
  font-family: var(--font-primary);
  font-size: var(--display-small);
  font-weight: var(--weight-regular);
  line-height: 44px;
}

.headline-large {
  font-family: var(--font-primary);
  font-size: var(--headline-large);
  font-weight: var(--weight-regular);
  line-height: 40px;
}

.headline-medium {
  font-family: var(--font-primary);
  font-size: var(--headline-medium);
  font-weight: var(--weight-regular);
  line-height: 36px;
}

.headline-small {
  font-family: var(--font-primary);
  font-size: var(--headline-small);
  font-weight: var(--weight-regular);
  line-height: 32px;
}

.title-large {
  font-family: var(--font-primary);
  font-size: var(--title-large);
  font-weight: var(--weight-regular);
  line-height: 28px;
}

.title-medium {
  font-family: var(--font-primary);
  font-size: var(--title-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-family: var(--font-primary);
  font-size: var(--title-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body-large {
  font-size: var(--body-large);
  font-weight: var(--weight-regular);
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: var(--body-medium);
  font-weight: var(--weight-regular);
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-small {
  font-size: var(--body-small);
  font-weight: var(--weight-regular);
  line-height: 16px;
  letter-spacing: 0.4px;
}

.label-large {
  font-size: var(--label-large);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: var(--label-medium);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: var(--label-small);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.hidden {
  display: none;
}

.margin-top-content {
  margin-top: 80px;
}

.margin-bottom-input {
  margin-bottom: 5px;
}

article {
  padding-left: var(--padding-left-content);
}

.mg-left {
  margin-left: 15px;
}

.mg-both {
  margin-left: 15px;
  margin-right: 15px;
}

.no-data-card {
  text-align: center;
}

.no-data-card .notification-alert {
  display: flex;
  justify-content: center;
  font-size: 44px;
  margin-bottom: 10px;
}

.no-data-card .material-symbols-outlined {
  font-size: 4.7rem;
}

.material-symbols-outlined {
  width: 1em;
  height: 1em;
  display: block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  opacity: 0;
}

:has(> .state-layer):hover .state-layer {
  opacity: 0.08;
}

:has(> .state-layer):is(:focus, :focus-visible, :active) .stsate-layer {
  opacity: 0.12;
}

.section {
  padding-block: var(--section-padding);
}

.container {
  padding-inline: 16px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: transparent;
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-content:not(.active) {
  display: none;
}

.section-title {
  margin-block-end: 16px;
}

/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * BUTTON
 */

.icon-btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.btn {
  height: 40px;
  display: grid;
  place-items: center;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  background-color: var(--primary);
  color: var(--on-primary);
  font-weight: var(--weight-medium);
  overflow: hidden;
  --state-layer-bg: var(var(--on-primary));
}

.btn:hover:not(:focus) {
  box-shadow: var(--elevation-1);
}

/**
 * TAB
 */

.primary-tabs {
  background-color: var(--background);
  margin-block-start: 24px;
  margin-inline: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border-block-end: 1px solid var(--outline-variant);
}

.tab-btn {
  height: 48px;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: var(--surface);
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
}

.tab-btn.active {
  color: var(--primary);
  --state-layer-bg: var(var(--primary));
}

.tab-text {
  position: relative;
  height: 48px;
  line-height: 48px;
}

.tab-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background-color: var(--primary);
  opacity: 0;
}

.tab-btn.active .tab-text::after {
  opacity: 1;
}

/**
 * CHIP
 */

.chip {
  height: 32px;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 16px;
  border: 1px solid var(--outline);
  border-radius: var(--radius-small);
  background-color: var(--surface);
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
}

.chip .material-symbols-outlined {
  font-size: 1.7rem;
}

/**
 * CARD
 */

.card {
  background-color: var(--surface-container-low);
  border-radius: var(--radius-medium);
  padding: 16px;
  display: grid;
  gap: 16px;
  --state-layer-bg: var(var(--on-surface));
}

.card-banner {
  border-radius: var(--radius-medium);
}

.card-content {
  display: grid;
  gap: 4;
}

.card-subtitle {
  color: var(--on-surface-variant);
}

.card-title {
  color: var(--on-surface);
}

/**
 * INPUT FIELD
 */

.input-field,
.textarea {
  color: var(--on-surface);
  padding: 13px 16px;
  box-shadow: inset 0 0 0 1px var(--outline);
  border-radius: var(--radius-extra-small);
  outline: none;
  transition: box-shadow var(--motion-duration-short-1)
    var(--motion-easing-linear);
}

.textarea {
  height: 120px;
  padding: 16px;
}

:where(.input-field, .textarea)::placeholder {
  color: var(--on-surface-variant);
}

:where(.input-field, .textarea):focus {
  box-shadow: inset 0 0 0 2px var(--primary);
}

/*-----------------------------------*\
  #TOP BAR
\*-----------------------------------*/

.topbar,
.topbar-manage {
  background-color: var(--background);
  top: 0;
  width: 100%;
  height: var(--top-bar-height);

  align-items: center;
  padding-inline: 16px;
}

.topbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  z-index: 4;
}

.topbar-manage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 0;
  z-index: 1;
}

[data-theme="dark"] .logo .light,
[data-theme="light"] .logo .dark {
  display: none;
}

[data-theme="dark"] .logo .dark,
[data-theme="light"] .logo .light {
  display: block;
}

.theme-btn {
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
  border-radius: var(--radius-full);
  overflow: hidden;
}

[data-theme="dark"] .theme-btn .dark,
[data-theme="light"] .theme-btn .light {
  display: none;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--top-bar-height) + 24px);
}

.hero .container {
  display: grid;
  align-items: center;
  gap: 24px;
}

.hero-banner {
  width: 240px;
  border-radius: var(--radius-circle);
}

.hero-content {
  max-width: 500px;
}

.hero .section-subtitle {
  color: var(--on-surface-variant);
}

.hero .section-text {
  margin-block: 5px 16px;
  color: var(--on-surface-variant);
}

.hero .btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/*-----------------------------------*\
  #ABOUT CARD
\*-----------------------------------*/

.about-card {
  background-color: var(--surface-container);
  color: var(--on-surface-variant);
  margin-inline: 16px;
  padding: 16px;
  margin-block-start: 24px;
  border-radius: var(--radius-large);
}

.about-card .card-title {
  color: var(--on-surface);
}

.about-card .card-text {
  margin-block: 12px;
  padding-block: 12px;
  border-block: 1px solid var(--outline-variant);
}

.about-list {
  display: grid;
  gap: 12px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
}

/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.experience-tab .list,
.education-tab .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  margin-block-end: 28px;
}

.skill-tab .list {
  display: grid;
  gap: 24px;
  margin-block-end: 28px;
}

.resume-card {
  display: grid;
  gap: 4px;
}

.resume-card .card-subtitle {
  color: var(--primary);
}

.resume-card .card-text {
  color: var(--on-surface-variant);
}

.resume-bottom-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}

.resume-bottom-item {
  background-color: var(--surface-container);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: var(--radius-small);
}

.resume-bottom-item .icon {
  height: 28px;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.skill-tab {
  padding-block-end: 0;
}

.skill-tab .container {
  padding-block-end: 24px;
}

.contact-info,
.contact-info-list {
  display: grid;
  gap: 12px;
}

.contact-info {
  margin-block-end: 24px;
}

.contact-info-list {
  padding-block-end: 12px;
  border-block-end: 1px solid var(--outline-variant);
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-info .icon-box {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: grid;
  place-items: var(--surface-container);
  color: var(--on-surface-variant);
}

.info-content {
  display: grid;
  gap: 4px;
}

.info-title {
  color: var(--on-surface-variant);
  opacity: 0.6;
}

.info-text {
  color: var(--on-surface-variant);
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-item {
  padding: 12px;
}

.input-wrapper {
  margin-block-start: 16px;
  display: grid;
  gap: 10px;
}

.contact-form,
.visual-card {
  background-color: var(--surface-container);
  padding: 16px;
  margin-block-end: 16px;
  border-radius: var(--radius-medium);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .container {
  text-align: center;
  padding: 16px;
  padding-left: var(--padding-left-content);
  border-block-start: 1px solid var(--outline-variant);
}

/*-----------------------------------*\
  #MANAGE CONTENT
\*-----------------------------------*/

/** 
* EDUCATION
*/

.data-view {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-content {
  position: relative;
}

.card-content .btn-action {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 2px;
  padding: 4px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/** 
* responsive for larger than 768px screen
*/

@media (min-width: 768px) {
  /** 
  * REUSED STYLE
  */

  .article {
    position: relative;
    display: grid;

    grid-template-columns: 0.5fr 1fr;
    align-items: flex-start;
  }

  .about-card,
  .primary-tabs {
    position: sticky;
    top: 64px;
  }

  .about-card {
    margin-bottom: 24px;
  }

  .primary-tabs {
    z-index: 2;
  }

  /** 
  * HERO
  */

  .hero .container {
    grid-template-columns: 0.2fr 1fr;
  }
}

/** 
* responsive for larger than 1200px screen
*/

@media (min-width: 1200px) {
  /** 
  * REUSED STYLE
  */

  .container,
  .article {
    max-width: 1128px;
    margin-inline: auto;
  }

  /** 
  * ABOUT CARD
  */

  .about-card {
    margin-inline: 8px;
  }

  /** 
  * CONTACT
  */

  .skill-tab .container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 0.6fr 1fr;
    gap: 24px;
  }
}

/** 
* MANAGE PROFILE
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 46px;
  z-index: 5;
  background: var(--background);
  overflow-x: hidden;
  padding-top: 15px;
  padding: 0 8px;
  transition: 0.6s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar:hover {
  width: 250px;
  transition: 0.6s ease;
}

.sidebar ul {
  position: relative;
  height: 97vh;
  margin-top: 15px;
}

.sidebar ul li {
  list-style: none;
  margin: 10px 0;
}

.sidebar ul li:hover {
  background: var(--surface-container);
  transition: 0.3s ease;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: var(--primary);
}

.sidebar ul li .logo {
  margin-bottom: 80px;
}

.sidebar .sidebar-link {
  color: var(--on-surface-variant);
}

.logo span {
  font-weight: 700;
  font-size: var(--title-medium);
  color: var(--on-surface-variant);
}

.sidebar .material-symbols-outlined {
  font-size: 3rem;
}

.sidebar ul li .logo .text {
  font-size: 18px;
  font-weight: 600;
}

.sidebar ul li:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  height: 60px;
  font-size: 22px;
}

.sidebar ul li a .text {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
}
